
    <section class="card mb-3 ml-3" style="width: 18rem;">
        <img src="https://dummyjson.com/image/i/products/1/4.jpg" class="card-img-top" alt="Celular">
        <div class="card-body">
            <h5 class="card-title">Celular</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit pariatur exercitationem illum quasi provident eos nihil dicta maiores corporis.</p>
            <a href="#" class="btn btn-primary">Mostrar detalle</a>
        </div>
    </section>

    

