<aside>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item">
            <a href="#" class="nav-link active py-3 border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                <i width="48" height="48" class="bi bi-house-fill icon"></i>
            </a>
        </li>

        <li>
            <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                <i width="48" height="48" class="bi bi-speedometer icon"></i>
            </a>
        </li>

        <li>
            <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                <i width="48" height="48" class="bi bi-table icon"></i>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
                <i width="48" height="48" class="bi bi-grid icon"></i>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link py-3 border-bottom" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                <i width="48" height="48" class="bi bi-person-circle icon"></i>
            </a>
        </li>
    </ul>
</aside>